* {
  background: #ffffff;
}

/* ----------NAV STYLES ------------*/

.navbar {
    text-align: center;
    background-color: #ffffff;
    padding: 5px 5px;
    font-weight: 600;
}

li {
  display: inline;
  font-size: 1em;
  padding: 15px 30px;
  text-transform: uppercase;

}

li a {
  line-height: 10px;
  padding: 5px 15px;
  color: #eb4146;
  text-decoration: none;
}

a:visted {
  color: lightblue;

}

.tomato {
  width: 60px;
  height: 43px;

}

/* ----------END NAV STYLES ------------*/



/* ----------INTRO STYLES ------------*/

h1 {
  font:700 2.5em "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  padding: 0 50px;
  text-align: center;

}

.courtney-image {
  border-radius: 50%;
}

.header-content p {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 2;
}

.btn {
  background-color: #eb4146;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px 50px;
  text-decoration: none;

}

/* -----END INTRO STYLES-------------*/



/* --------- BODY STYLES ---------*/

 h2 {
  text-align: center;
  font:500 1.5em "Helvetica Neue", sans-serif;
  line-height: 2;
  color: #333;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  clear: right;

}

h3 {
  text-align: right;
  margin: 0;
  font:400 1.25em "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  clear: right;

}

h4 {
    text-align: center;
    clear: right;
}

body {
  margin: 40px;
  font:200 1em "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  padding: 10px;
}

p {
  line-height: 1;

}


/* --------- END BODY STYLES ---------*/





/* --------- GRID STYLES ---------*/


.artwork {
  width: 500px;
  margin: auto;
  padding: 20px 20px;
  float: left;


}

.text {
  width: 450px;
  text-align: right;
  margin: auto;
  padding: 20px 20px;
  float: left;

}

/* --------- END GRID STYLES ---------*/



/* --------- FOOTER STYLES ---------*/

footer {
  padding-top: 25px;
}

.contact-section {
  width: 100%;
  overflow: hidden;
  display: block;
  text-align: center;
}

.contact-section a{
  padding-top: 30px;
  font-weight: 600;

}

.coffee-chat {
  padding-bottom: 15px;

}

.copyright {
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;

}

/* --------- END FOOTER STYLES ---------*/



/* @media screen and (max-width: 1200px) ---------*/

@@media screen and (max-width: 1200px) {





/* Media Queries - Cellphone -----------*/

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 1.75em;
    text-align: center;
  }

  h2 {
    width: 100%;
    padding: 5px 0;
    line-height: 35px;
    font-size: 1.25em;
  }

  h3 {
    width: 100%;
    padding: 5px 0;
    font-size: 1em;
    text-align: right;
  }

  .header-content p {
    width: 100%;
    font-size: .75em;
    line-height: 2;
    text-align: center;
  }

  .contact-section {
    display: block;
    width: 100%;
    padding: 10px 35px;
  }

  .contact-section a {
    padding: 5px;
    line-height: 36px;
  }

  .container {
    max-width: 500px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 5px 10px;
    text-align: center;

  }

  .artwork {
    align: center;
    width: 100%;
    padding: 15px 5px;

  }

.body {
  align: center;
  width: 100%;
  margin: 0;
  padding: 20px 50px;

  }

.text {
  width: 100%;
  padding: 0 5px;
  line-height: 20px;

  }

  #contact {
    width: 100%;
    line-height: 20px;
    padding-bottom: 0;
  }

  li {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    font-size: 1em;

    text-transform: uppercase;

  }

  li a {
    color: #eb4146;
    text-decoration: none;
  }


.navbar {
  display: none;
}

.btn {
  padding: 10px 10px;
}

footer .menu {
  display: none;
  }
}
