* {
  box-sizing: border-box;
  background: #f7f7f4;
}

h1 {
  text-transform: uppercase;
  padding: 0 50px;
  text-align: center;

}

h2 {
  text-align: center;
  margin: 0;
  font:500 1.5em "Helvetica Neue", sans-serif;
  line-height: 2;
  color: #333;
  overflow-x: hidden;
  overflow-y: hidden;
  text-transform: uppercase;
  padding-top: 30px;

}

h3 {
  text-align: right;
  margin: 0;
  font:400 1.25em "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  text-transform: uppercase;
  padding-top: 15px;

}

body {
  margin: 0;
  font:200 1em "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

p {
  margin: 5px;

}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 200px;
  text-align: center;

}

.header-content p {
  text-align: center;
  font-size: 1rem;
  display: block;
}


.btn {
  background-color: #eb4146;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px 50px;
  text-decoration: none;

}

.courtney-image {
  border-radius: 50%;
}

li {
  display: inline;
  width: 100%;
  height: 100%;
  font-size: 1em;
  padding: 15px 30px;
  text-transform: uppercase;

}

li a {
  line-height: 20px;
  padding: 25px 15px;
  color: #eb4146;
  text-decoration: none;
}


a:visted {
  color: lightblue;

}

.navbar {
    text-align: center;
    background-color: #f7f7f4;
    padding: 5px 5px;
    font-weight: 600;
}

.contact-section {
  background-color: #f7f7f4;
  width: 100vw;
  padding: 40px 60px;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.contact-section a {
  font-weight: 600;
}

#contact {
  padding-top: 50px;
  color: white;

}

.clear {
  clear: left;

}

.artwork {
  width: 45%;
  float: left;
  margin: 5px;
  padding: 25px 5px 10px 0;

}

.copyright {
  color: #eb4146;

}

.text {
  text-align: right;
  line-height: 1.5em;
  float: right;
  margin: 10px;
  width: 50%;


}

.heading {
  text-align: right;
}

footer {
  padding-top: 250px;

}


/* @media screen and (max-width: 1200px) ---------*/

@@media screen and (max-width: 1200px) {

  .artwork {
    width: 5%;
  }
}




/* Media Queries - Cellphone -----------*/

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 1.75em;
    text-align: center;
  }

  h2 {
    width: 100%;
    padding: 5px 0;
    line-height: 35px;
    font-size: 1.25em;
  }

  h3 {
    width: 100%;
    padding: 5px 0;
    font-size: 1em;
    text-align: right;
  }

  .header-content p {
    width: 100%;
    font-size: .75em;
    line-height: 2;
    text-align: center;
  }

  .contact-section {
    display: block;
    width: 100%;
    padding: 10px 35px;
  }

  .contact-section a {
    padding: 5px;
    line-height: 36px;
  }

  .container {
    max-width: 500px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 5px 10px;
    text-align: center;

  }

  .artwork {
    align: center;
    width: 100%;
    padding: 15px 5px;

  }

.body {
  align: center;
  width: 100%;
  margin: 0;
  padding: 20px 50px;

  }

.text {
  width: 100%;
  padding: 0 5px;
  line-height: 20px;

  }

  #contact {
    width: 100%;
    line-height: 20px;
    padding-bottom: 0;
  }

  li {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    font-size: 1em;

    text-transform: uppercase;

  }

  li a {
    color: #eb4146;
    text-decoration: none;
  }


.navbar {
  display: none;
}

.btn {
  padding: 10px 10px;
}

footer .menu {
  display: none;
  }
}
