* {
  background-color: #f7f7f4;
}

/* ----------NAV STYLES ------------*/

.navbar {
    text-align: center;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
}

li {
  display: inline;
  font-size: 1em;
  padding: 15px 30px;
  text-transform: uppercase;

}

li a {
  line-height: 10px;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;

}

/* ----------END NAV STYLES ------------*/



/* ----------INTRO STYLES ------------*/

h1 {
  font:700 2.5em "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  padding: 0 50px;
  text-align: center;

}

.courtney-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-content p {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1;
  padding: 10px 40px;
}

.btn {
  background-color: #eb4146;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  text-decoration: none;

}

/* -----END INTRO STYLES-------------*/



/* --------- BODY STYLES ---------*/

 h2 {
  text-align: center;
  font:500 1.5em "Helvetica Neue", sans-serif;
  color: #333;
  text-transform: uppercase;
  clear: right;

}

h3 {
  text-align: right;
  margin: 0;
  font:400 1.25em "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  clear: right;

}

h4 {
    text-align: center;
    clear: right;
    padding-bottom: 20px;
}

body {
  margin: 40px;
  font:200 1em "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  padding: 10px;
}

p {
  line-height: 1;

}


/* --------- END BODY STYLES ---------*/





/* --------- GRID STYLES ---------*/


.artwork {
  width: 400px;
  padding: 40px 20px 20px 150px;
  float: left;


}

.text {
  width: 400px;
  text-align: right;
  padding: 20px 150px 20px 20px;
  float: right;

}

/* --------- END GRID STYLES ---------*/



/* --------- FOOTER STYLES ---------*/

footer {
  position: sticky;
  padding-top: 25px;
}

.contact-section {
  width: 100%;
  overflow: hidden;
  display: block;
  text-align: center;
}

li a {
  color: #eb4146;
}
.contact-section a{
  font-weight: 600;

}

.coffee-chat {
  margin: auto;
  width: 25%;
  padding-bottom: 15px;

}

.copyright {
  text-align: center;
  padding-bottom: 10px;

}

/* --------- END FOOTER STYLES ---------*/



/* @media screen and (max-width: 1200px) ---------*/

@media only screen and (max-width: 320px) {

}



/* Media Queries - iPhone SE -----------*/

@media only screen and (max-width: 320px) {

/* Intro Styles ------------------------*/

header {
  padding: 5px;

}
.navbar {
  display: none;
}

  .courtney-image {
    margin: auto;
    width: 100%;
    padding: 5px;
    border-radius: 30%;

  }

  h1 {
    margin: auto;
    width: 100%;
    font-size: 2rem;
    padding: 5px;
  }

.header-content {
  padding-top: 0;
  padding-bottom: 50px;

}

  .header-content p {
    margin: auto;
    width: 100%;
    padding: 5px;
    line-height: 2;
    text-align: center;
    font-size: 100%;
  }

/* Intro Styles END ------------------------*/

/* Body Styles  ------------------------*/
.body {
  align: center;
  width: 100%;
  margin: auto;
  padding: 20px 30px;

  }

  h2 {
    width: 100%;
    padding: 5px 0;
    line-height: 35px;
    font-size: 1.25em;
  }

  h3 {
    width: 100%;
    padding: 5px 0;
    font-size: 1em;
    text-align: right;
  }

    .artwork {
      margin: auto;
      width: 100%;
      padding: 5px;

    }

    .text {
      width: 100%;
      padding: 0 5px;
      line-height: 20px;

      }
/* Body Styles END ------------------------*/




/* Footer Styles -----------------*/
footer {
      position: sticky;
      margin: auto;
      width: 100%;
  }

footer p {
  text-align: center;

}

.copyright {
  font-size: 0.5em;

}
  .contact-section {
    margin: auto;
    width: 100%;
  }

  .contact-section a {
    display: block;
    font-weight: 500;
    padding: 15px;
  }


  li {
    margin: auto;
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 1em;
    text-transform: uppercase;
    color: #eb4146;

  }

  li a {
    color: #eb4146;
    text-decoration: none;
    text-align: center;
  }

.coffee-chat {
    width: 100%;
    padding-top: 75px;
}

/* Footer Styles End -----------*/


}
